<!-- <app-employee></app-employee> -->

<!-- <app-student></app-student> -->

<!-- <app-propertybinding></app-propertybinding> -->

<!-- <app-classbinding></app-classbinding> -->

<!-- <app-eventbinding></app-eventbinding> -->

<!-- <app-prime-check></app-prime-check> -->

<!-- <app-login-form></app-login-form> -->

<!-- <app-inputbox-width-change></app-inputbox-width-change> -->

<!-- <app-mouse-event></app-mouse-event> -->

<!-- <app-employee-add-remove></app-employee-add-remove> -->

<app-parent></app-parent>

